geometry_autoencoder/__pycache__
geometry_autoencoder/_data
geometry_autoencoder/_data2
geometry_autoencoder/_data3
geometry_autoencoder/_storage
geometry_autoencoder/_ignore

geometry_autoencoder/checkpoints
geometry_autoencoder/outputs
geometry_autoencoder/results

geometry_autoencoder/encoding_results_
geometry_autoencoder/traversing_results_
geometry_autoencoder/reconstructed_results_

timeseries_generator/__pycache__
timeseries_generator/.vscode
timeseries_generator/_storage
timeseries_generator/_data
timeseries_generator/test
timeseries_generator/run
timeseries_generator/gan/__pycache__
timeseries_generator/gan/_ignore